.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-content{
  --background: white
}
ion-card-title{
  text-align:  center;
}
ion-header{
--background: white
}
ion-toolbar{
--background: white; 
text-align:  center;
}