<ion-app>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content class="ion-no-border" fullscreen>
    <ion-card class="ion-no-border">
      <ion-card-content>
          <ion-grid class="center">
            <ion-row>
              <ion-input name="citizenId"  class="text-box" rows="1" placeholder="Phone Number" ></ion-input>
            </ion-row>
            <br>
            <ion-row>
              <ion-input name="citizenId"  class="text-box" rows="1" placeholder="Citizen ID" ></ion-input>
            </ion-row>
            <br>
            <ion-row>
              <ion-col size="6">
                <ion-label>
                  File Name
                </ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="selectImage()" expand="block">Pick</ion-button>   
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col align-self-center>
                  <br>
                  <ion-button (click)="register()" expand="block">REGISTER</ion-button>          
                 </ion-col>
            </ion-row>
          </ion-grid>  
          <img [src]="croppedImagepath"/>        
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>