ion-content{
    --background: #1e1e1e
}
ion-card-title{
    text-align:  center;
}
ion-header{
  --background: #1e1e1e
}
ion-toolbar{
  --background: #1e1e1e;
  text-align:  center;
}
ion-item{
    --background: #1e1e1e
}
.no-scroll {
    --overflow: hidden;
}
.phone-number{
    text-align:  center;
}
.text-sms-code{
    --background: #545454;
    border-radius: 6px;
    offset: 5;
}