.bottom-button {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}
ion-content{
  --background: white
}
ion-card-title{
  text-align:  center;
}
ion-header{
--background: white
}
ion-toolbar{
  --background: white; 
text-align:  center;
}
.scroll {
  height: 100%;
}
ion-card{
  height: 40%;
  border-radius: 20px;
}
.ion-card-green{
  background: #73AD21;
}
.ion-card-content-green-text {
  color: blue;
  text-align: center;
  vertical-align: middle;
}
.ion-card-red{
  background: red;
}
.ion-card-content-red-text {
  color: yellow;
  text-align: center;
  vertical-align: middle;
}
ion-card-content{
  line-height: 200px;
  height: 100%;
  text-align: center;
}