<ion-app>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar>
      <ion-title>SCANNING</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content class="ion-no-border" fullscreen>
    <ion-card class="ion-no-border ion-card-green" *ngIf="isPositive">
      <ion-card-content class="ion-card-content-green-text"> 
        Result NEGATIVE
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-border ion-card-red" *ngIf="!isPositive">
      <ion-card-content class="ion-card-content-red-text"> 
        Result POSITIVE
      </ion-card-content>
    </ion-card>
    <ion-button class="bottom-button" expand="block" size="large" (click)="scanBarcode()">NEW SCAN</ion-button>
  </ion-content>
</ion-app>